canvas {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  height: calc(100vw * 0.75);
}

@media screen and (min-width: 768px) {
  canvas {
    height: calc((768px * 0.75));
  }
}
